{% extends 'layout.njk' %}

{% block content %}
  <section class="card">

    <div class="container table-container">
      
      <a href="/members/create" class="create-btn">Criar</a>

      <table class="table">
        <thead>
          <tr>
            <th>Instructor</th>
            <th>Atendimento</th>
            <th>Acessar</th>
          </tr>
        </thead>
        <tbody>
          {% for instructor in instructors %}
            <tr>
              <td>
                <span style="background-image:url({{instructor.avatar_url}})"></span>
                {{instructor.name}}
              </td>
              <td>{{instructor.services}}</td>
              <td><a href="/instructors/{{instructor.id}}" class="see-btn">ver</a></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

    </div><!-- container end -->
  </section>
{% endblock content %}
