{% extends "layout.njk" %}

{% block content %}
  <form class="card" method="POST" action="/instructors?_method=PUT">

    <div class="container">

      <div class="avatar"></div>

      <div class="details">
        <h2 class="subtitle">Editar Instrutor</h2>

        {% include 'instructors/fields.njk' %}

        <input type="hidden" name="id" value={{instructor.id}}>

      </div><!-- details end -->
    </div><!-- container end -->
  </form>
{% endblock content %}